<div class="container-fluid fw-bolder px-4">
    <footer class="d-flex flex-sm-row flex-column-reverse flex-wrap justify-content-between align-items-center py-3 my-4">
        <p class="col-sm-9 col-12 mb-0 text-muted text-sm-start text-center">
            © <%= currentYear %> NanoNotes by Dhruv Arora
        </p>
        <a href="/dashboard"
            class="col-sm-3 col-12 d-flex align-items-center mb-sm-0 mb-4 me-md-auto link-primary text-decoration-none justify-content-sm-end justify-content-center">
            <img src="/images/brand icon.png" alt="icon" />
        </a>
    </footer>
</div>