<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <a href="/" class="brand col-md-3 mb-2 mb-md-0 text-primary text-decoration-none fw-bold fs-2">
        <img src="/images/brand icon.png" alt="icon"><p class="my-auto">NanoNotes</p>
      </a>

      <form role="search" method="POST" action="/dashboard/search" class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0" autocomplete="off">
        <input type="search" name="searchTerm" class="search-box form-control border-primary px-4 rounded-5" placeholder="Search your notes..." aria-label="Search your notes...">
      </form>

      <div class="col-md-3 text-end">
        <a href="/logout" type="button" class="btn btn-primary">Log-Out</a>
      </div>
    </header>
  </div>