<div class="container-fluid container-fluid-custom pb-5 mb-5">
  <div class="row mb-3 px-5">
    <div class="col">
      <div class="col d-flex justify-content-between align-items-center">
        <h1 class="h3 pt-1">Add Note</h1>
        <a class="text-decoration-none" href="/dashboard"
          ><button type="submit" class="btn btn-primary btn-lg d-flex">
            <div
              class="h-100 d-flex align-items-center me-2"
              style="width: fit-content"
            >
              <i class="fa-solid fa-angle-left"></i>
            </div>
            <p style="padding-top: 0.09rem; height: 100%">
              Go back to Dashboard
            </p>
          </button></a
        >
      </div>
    </div>
  </div>
  <form action="/dashboard/add" method="POST" class="position-relative mx-5">
    <% const d = Date.now(); %>
    <input type="hidden" value="<%= d %>" name="date">
    <div
      class="form-group position-absolute"
      style="top: 1px; right: 1px; left: 1px"
    >
      <input
        type="text"
        class="form-control fw-bold border-0 fs-3 px-4 pt-3 rounded-4"
        id="title"
        name="title"
        placeholder="Title..."
        required
      />
    </div>
    <div class="form-group mb-4">
      <textarea
        style="padding-top: 4.5rem"
        class="form-control border-0 fs-4 px-4 pb-3 rounded-4"
        name="content"
        id="content"
        placeholder="Take a note..."
        rows="8"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">Add Note</button>
      <a href="/dashboard"
        ><button type="button" class="btn btn-outline-primary">Cancel</button></a
      >
    </div>
  </form>
</div>
