<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="px-md-5 px-3">
        <% if(searchResults != ''){ %>
            <div class="row d-flex justify-content-between align-items-center flex-md-row flex-column-reverse">
                <h2 class="col-md-8 col-12 mb-4 text-md-start text-center">Notes that we found...</h2>
                <div class="col-md-4 col-12 mb-4 text-end" style="width: fit-content;">
                    <a class="text-decoration-none" href="/dashboard">
                        <button type="submit" class="btn btn-primary btn-lg d-flex">
                            <div class="h-100 d-flex align-items-center me-2" style="width: fit-content">
                                <i class="fa-solid fa-angle-left"></i>
                            </div>
                            <p style="padding-top: 0.09rem; height: 100%">
                                Go back to Dashboard
                            </p>
                        </button>
                    </a>
                </div>
            </div>
            <% searchResults.forEach(note => { %>
                <a type="submit" class="mb-3 row" href="/dashboard/notes/<%= note._id %>">
                    <h4><%= note.title %></h4>
                </a>
            <% }) %>
        <% } else{ %>
            <div class="row d-flex justify-content-between align-items-center flex-md-row flex-column-reverse">
                <h1 class="col-md-8 col-12 mb-4 text-md-start text-center">No Note Found!</h1>
                <div class="col-md-4 col-12 mb-4 text-end" style="width: fit-content;">
                    <a class="text-decoration-none" href="/dashboard">
                        <button type="submit" class="btn btn-primary btn-lg d-flex">
                            <div class="h-100 d-flex align-items-center me-2" style="width: fit-content">
                                <i class="fa-solid fa-angle-left"></i>
                            </div>
                            <p style="padding-top: 0.09rem; height: 100%">
                                Go back to Dashboard
                            </p>
                        </button>
                    </a>
                </div>
            </div>
        <% } %>
    </div>
</div>