<div class="d-flex align-items-center justify-content-center h-100">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1 class="">401 - Unauthorized</h1>
        <p>Sorry, But you have not been authorized yet...Come back after logging in!</p>
        <a href="<%= url %>" class="btn btn-primary"><%= btnContent %></a>
    </div>
    <img src="/images/401.png" alt="401">
</div>