<div class="container-fluid container-fluid-custom px-5 py-md-1 mb-5">
    <h1 class="mb-4">About NanoNotes</h1>
    <p class="fw-bolder fs-5">Welcome to NanoNotes, the ultimate online platform for capturing and organizing your ideas. Created by Dhruv Arora, NanoNotes is designed to be your digital sanctuary, where you can seamlessly capture and store your thoughts, inspirations, and important information.</p>
    <p class="fw-bolder fs-5">NanoNotes provides a simple and intuitive website interface that allows you to jot down your notes with ease. Whether you're brainstorming, making to-do lists, or recording important details, NanoNotes is your reliable companion for keeping everything in one place.</p>
    <p class="fw-bolder fs-5">With NanoNotes, you can effortlessly create and edit your notes, ensuring that your ideas are never lost. The straightforward interface allows you to focus on your thoughts without any distractions, providing a seamless note-taking experience.</p>
    <p class="fw-bolder fs-5">Try NanoNotes today and experience the convenience and simplicity of this note-taking website. Start capturing, organizing, and unleashing the power of your ideas with NanoNotes - where every note is valuable, and every idea has a place!</p>
</div>
