<div class="container-fluid container-fluid-custom px-5 py-md-1 mb-5">
  <h1 class="mb-4">Frequently Asked Questions (FAQs)</h1>
  <div class="accordion fs-5 fw-bolder" id="faqsaccordion">
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Q. Is NanoNotes free to use?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. Yes, NanoNotes is completely free to use. There are no subscription
          fees or hidden charges. Simply sign up on the website and start
          capturing your ideas.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Q. Can I access my notes from different devices?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. Yes, NanoNotes is accessible from any device with an internet
          connection. Your notes are securely stored in the cloud, allowing you
          to access and sync them across multiple devices effortlessly.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Q. Does NanoNotes offer a mobile app for on-the-go note-taking?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. Currently, NanoNotes is available as a web-based application and
          does not have a dedicated mobile app. However, the website is designed
          to be mobile-friendly, allowing you to access and use NanoNotes on
          your smartphone or tablet through a web browser.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Q. Can I recover deleted notes in NanoNotes?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. NanoNotes does not have a dedicated trash or recycle bin feature.
          Once a note is deleted, it cannot be recovered. We recommend being
          cautious when deleting notes and ensuring that you have backups of any
          critical information.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Q. Is my data safe and secure on NanoNotes?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. Absolutely. NanoNotes takes data security seriously. Your notes are
          authenticated with your unique user id and stored securely to ensure
          the privacy and protection of your information.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header" id="headingSix">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          Q. How secure is my account and personal information on NanoNotes?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. At NanoNotes, we prioritize the security and privacy of our users.
          You are authorized through OAuth2.0 into your Google account ensuring
          Level 6 authentication. This keeps your personal information safe and
          secure.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header" id="headingSeven">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSeven"
          aria-expanded="false"
          aria-controls="collapseSeven"
        >
          Q. Can I import notes from other note-taking applications into
          NanoNotes?
        </button>
      </h2>
      <div
        id="collapseSeven"
        class="accordion-collapse collapse"
        aria-labelledby="headingSeven"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. Currently, NanoNotes does not have a direct import feature.
          However, you can manually copy and paste your existing notes from
          other applications into NanoNotes. Alternatively, you can retype your
          notes within NanoNotes.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header" id="headingEight">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseEight"
          aria-expanded="false"
          aria-controls="collapseEight"
        >
          Q. Is there a limit to the number of notes I can create in NanoNotes?
        </button>
      </h2>
      <div
        id="collapseEight"
        class="accordion-collapse collapse"
        aria-labelledby="headingEight"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. NanoNotes does not impose a specific limit on the number of notes
          you can create. You can create as many notes as you need. However,
          NanoNotes holds the right to release the storage occupied by large
          amounts of irrelevant notes created by you, such as absurd character
          combinations for platform testing, or any testing data used in huge
          amounts. These notes will be deleted by the NanoNotes' server, without
          notifying you. Remember, notes are gentle whispers amidst the chaos,
          harness their power mindfully!
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header" id="headingNine">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseNine"
          aria-expanded="false"
          aria-controls="collapseNine"
        >
          Q. Can I share my notes with others or collaborate on them in
          NanoNotes?
        </button>
      </h2>
      <div
        id="collapseNine"
        class="accordion-collapse collapse"
        aria-labelledby="headingNine"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. NanoNotes is primarily designed as a personal note-taking platform
          and currently does not support sharing notes or collaboration
          features. However, you can manually share the contents of your notes
          by copying and pasting them into other communication channels or
          collaborative tools.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header" id="headingTen">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTen"
          aria-expanded="false"
          aria-controls="collapseTen"
        >
          Q. What is the sorting order of my notes in NanoNotes?
        </button>
      </h2>
      <div
        id="collapseTen"
        class="accordion-collapse collapse"
        aria-labelledby="headingTen"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. NanoNotes displays the notes in descending order of the time when
          you last updated the note. This means that the latest updated note
          will appear first in your dashboard.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-dark rounded-4 mb-1">
      <h2 class="accordion-header" id="headingEleven">
        <button
          class="accordion-button collapsed fs-5 shadow-none rounded-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseEleven"
          aria-expanded="false"
          aria-controls="collapseEleven"
        >
          Q. Can I search for specific keywords or phrases within my notes?
        </button>
      </h2>
      <div
        id="collapseEleven"
        class="accordion-collapse collapse"
        aria-labelledby="headingEleven"
        data-bs-parent="#faqsaccordion"
      >
        <div class="accordion-body">
          A. Yes, NanoNotes provides a search functionality that allows you to
          find specific keywords or phrases within your notes. Simply enter your
          search query in the search bar, and NanoNotes will display the
          relevant notes containing those keywords or phrases.
        </div>
      </div>
    </div>
  </div>
</div>
