<div class="container-fluid container-fluid-custom px-3 px-md-5 py-md-1 mb-5">
    <h1 class="mb-4 text-sm-start text-center">Features of NanoNotes</h1>
    <ul class="features fw-bolder">
        <li><p><strong>Simplified Note-Taking:</strong> NanoNotes offers a streamlined and intuitive interface for capturing your thoughts and ideas effortlessly. Focus on writing without distractions, thanks to its minimalist design.</p></li>
        <li><p><strong>Cloud-Based Storage:</strong> All your notes are securely stored in the cloud, allowing you to access and sync them seamlessly across multiple devices. Your data is backed up, ensuring its safety and availability.</p></li>
        <li><p><strong>Simple Handling Options:</strong> You can easily create new notes, modify existing notes, and delete notes. The notes are handled with tailored pagination.</p></li>
        <li><p><strong>Search and Retrieval:</strong> Easily find specific notes with NanoNotes' search functionality. Quickly locate information by searching for keywords or phrases within your notes.</p></li>
        <li><p><strong>Privacy and Security:</strong> NanoNotes prioritizes the privacy and security of your data. Your notes are protected, and high security measures are in place to safeguard your information.</p></li>
    </ul>
</div>