* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #ffd460;
    --bs-primary-rgb: #2d4059;
    --bs-secondary-rgb: #3f4e4f;
}

body {
    font-family: "League Spartan", sans-serif;
    background-color: var(--background-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
    background-image: url(../images/noice-bg.svg);
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Paytone One", sans-serif;
    font-weight: 300;
}

.container-fluid-custom {
    max-width: 1600px;
    height: auto;
}

.btn {
    font-size: 1rem;
    padding: 0 1rem;
    border-radius: 1rem;
    line-height: 2rem;
    height: 2rem;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary-rgb);
    --bs-btn-border-color: var(--bs-primary-rgb);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--bs-secondary-rgb);
    --bs-btn-hover-border-color: var(--bs-secondary-rgb);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary-rgb);
    --bs-btn-active-border-color: var(--bs-secondary-rgb);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary-rgb);
    --bs-btn-disabled-border-color: var(--bs-primary-rgb);
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary-rgb);
    --bs-btn-border-color: var(--bs-primary-rgb);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-secondary-rgb);
    --bs-btn-hover-border-color: var(--bs-secondary-rgb);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary-rgb);
    --bs-btn-active-border-color: var(--bs-secondary-rgb);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-primary-rgb);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-primary-rgb);
    --bs-gradient: none;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    padding: auto;
}

.brand p {
    padding-top: 7px;
}

.brand img {
    width: 1.1em;
    margin-right: 0.15em;
}
.features li::marker{
    content: "✔ ";
    font-size: 1.5rem;
}
.error div div{
    margin-right: 20px;
}
.error div div h1 {
    font-size: 65px;
}
.error div{
    min-height: 100vh;
}
.error div img {
    height: 700px;
    width: auto;
}
.dp{
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.search-box {
    font-size: 1.1rem;
    height: 2.5rem;
}
.card{
    transition: 0.2s ease;
}
.card:hover{
    color: var(--bs-secondary-rgb);
    transform: scale(1.02);
}
.card-bottom{
    margin: 0 1rem 0.5rem;
}
.card-bottom div{
    width: auto;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
.pagination > li{
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination > li > a{
    text-decoration: none;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.2s ease;
    color: var(--bs-primary-rgb);
    background-color: transparent !important;
    border: 1px solid var(--bs-primary-rgb) !important;
}
.pagination > li > a > span{
    padding-top: 0.2rem;
}
.pagination > li > a:hover{
    color: white;
    background-color: var(--bs-secondary-rgb) !important;
    border: 1px solid var(--bs-secondary-rgb) !important;
}
.pagination > .active > a{
    color: white;
    background-color: var(--bs-primary-rgb) !important;
    border: 1px solid var(--bs-primary-rgb) !important;
}
.pagination > .active > a:hover{
    background-color: var(--bs-secondary-rgb) !important;
    border: 1px solid var(--bs-secondary-rgb) !important;
}
textarea::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-primary-rgb);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bs-secondary-rgb);
    width: 10px;
}

@media (min-width: 1150px) {
    .home {
        background: url(../images/human1.png) left no-repeat,
            url(../images/human2.png) right no-repeat,
            url(../images/noice-bg.svg) left top repeat, var(--background-color);
    }
}

@media (min-width: 992px) {
    .home-title::before {
        content: url("../images/stars.svg");
        position: absolute;
        left: -100px;
        top: -30px;
        z-index: -1;
    }

    .home-title::after {
        content: url("../images/stars.svg");
        position: absolute;
        right: -30px;
        bottom: -40px;
        z-index: -1;
    }
}

@media (max-width: 1250px){
    .error div img{
        height: 500px;
    }
}

@media (max-width: 1060px){
    .error div img{
        height: 300px;
    }
}

@media (max-width: 925px){
    .error div{
        flex-direction: column-reverse;
        min-height: auto;
        height: 100vh;
    }
    .error div div{
        height: fit-content;
        margin: 0 10px;
        text-align: center;
        font-size: 80%;
    }
    .error div div h1{
        font-size: 50px;
    }
    .error div img{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 575px){
    .human3{
        width: 100%;
    }
    .error div img{
        height: 200px;
    }
}

@media only screen and (max-width: 500px){
    .pagination > li{
        height: auto;
    }
    .error div div h1{
        font-size: 35px;
    }
}
